@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-link {
    font-weight: normal;
    color: #616462;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #6CB48F;
    /* font-weight: bold; */
    cursor: pointer;
}